[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1", features = ["derive"] }
uuid = { version = "1", features = ["v4", "serde", "js"] }
utoipa = { version = "5", features = ["uuid", "chrono"] }
chrono = { version = "0.4", features = ["serde"] }
